<div class="item">
  <a href="/blog-article{{htmlPrefix}}" class="img">
    <img
      class="lazyWebp"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{img}}.jpg"
      data-webp="{{img}}.webp"
      alt="{{category}}"
    />
  </a>
  <div class="inf">
    <a href="/blog{{htmlPrefix}}" class="tag">{{category}}</a>
    <div class="read"><span class="span-reading-time rt-reading-time"><span
          class="rt-label rt-prefix"
        ></span>
        <span class="rt-time"> 2</span>
        <span class="rt-label rt-postfix"></span></span>&nbsp;min read</div>
    <div class="data">20 Fab 2020</div>
  </div>
  <a href="/blog-article{{htmlPrefix}}" class="item-title">{{title}}</a>
  <p>{{text}}</p>
</div>