<div class="btn-go-down {{class}}">
    <div>
        {{#if text}}
        <b>{{text}}</b>
        {{else}}
        <svg width="103" height="34" viewBox="0 0 103 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1.98077 23.049L3.4377 24.3422L5.17292 22.3778L6.10601 23.1963L4.37079 25.1607L5.90957 26.5194L7.8576 24.3095L8.80706 25.1443L5.81135 28.5165L0 23.3764L2.97934 20.0042L3.9288 20.839L1.98077 23.049Z"
                fill="white"></path>
            <path
                d="M19.1365 16.6154L17.8761 17.5322L11.8846 15.2895L15.0113 19.6111L13.7508 20.5279L9.18359 14.2254L10.4441 13.3087L16.4355 15.5514L13.3088 11.2297L14.5693 10.313L19.1365 16.6154Z"
                fill="white"></path>
            <path
                d="M26.9611 4.07617L27.4522 5.23844L25.5532 6.05694L28.1233 12.0484L26.6828 12.654L24.1127 6.66263L22.2138 7.48113L21.7227 6.31886L26.9611 4.07617Z"
                fill="white"></path>
            <path
                d="M39.7291 1.26054C40.4002 1.45698 40.9568 1.81712 41.3824 2.34096C41.8081 2.8648 42.1027 3.50323 42.2501 4.27261C42.3974 5.042 42.3483 5.74591 42.1191 6.36797C41.8899 7.0064 41.497 7.53024 40.9568 7.95586C40.4002 8.38148 39.7291 8.65977 38.9269 8.8071L36.2586 9.2982L34.8672 1.65342L37.5355 1.16232C38.3213 1.03136 39.0579 1.0641 39.7291 1.26054ZM40.3675 6.53167C40.7276 6.00783 40.8259 5.35303 40.6949 4.56727C40.5476 3.76515 40.2202 3.1922 39.6963 2.81569C39.1725 2.45555 38.5177 2.34096 37.7156 2.48829L36.6351 2.68473L37.5519 7.72668L38.6323 7.53024C39.418 7.38291 40.0074 7.05551 40.3675 6.53167Z"
                fill="white"></path>
            <path
                d="M51.3054 1.32597L51.2235 3.274L53.8427 3.37222L53.7936 4.59997L51.1744 4.50175L51.0925 6.56437L54.0391 6.67896L53.99 7.93945L49.4883 7.77575L49.7829 0L54.2847 0.1637L54.2356 1.44056L51.3054 1.32597Z"
                fill="white"></path>
            <path
                d="M62.3363 3.07762C62.8274 2.58652 63.4003 2.24275 64.0715 2.07905C64.7426 1.89898 65.4302 1.91535 66.1505 2.09542C66.9853 2.3246 67.6729 2.71748 68.1803 3.32317C68.7042 3.91249 68.9825 4.63277 69.0316 5.45127L67.2964 4.99291C67.2145 4.58366 67.0508 4.25626 66.7889 3.99434C66.527 3.73242 66.1832 3.55235 65.774 3.43776C65.332 3.32317 64.9227 3.32317 64.5298 3.43776C64.137 3.55235 63.7932 3.76516 63.4985 4.09256C63.2039 4.41996 63.0074 4.82921 62.8601 5.33668C62.7291 5.82778 62.7128 6.28614 62.7946 6.71176C62.8928 7.13738 63.0729 7.49752 63.3676 7.79218C63.6459 8.08684 64.0224 8.29965 64.448 8.41424C64.8572 8.52883 65.2501 8.52883 65.6103 8.43061C65.9704 8.33239 66.2814 8.11958 66.5597 7.80855L68.2949 8.26691C67.8366 8.97082 67.2473 9.44555 66.5106 9.70747C65.774 9.96939 64.9718 9.98576 64.1206 9.75658C63.4003 9.56014 62.7946 9.23274 62.3035 8.75801C61.8124 8.28328 61.485 7.71033 61.3049 7.03916C61.1249 6.36799 61.1249 5.66408 61.3213 4.92743C61.5014 4.20715 61.8452 3.58509 62.3363 3.07762Z"
                fill="white"></path>
            <path
                d="M77.6914 15.2896L76.8566 10.9024L75.2032 13.9472L73.8281 13.2106L77.5277 6.38428L78.9028 7.12093L77.2495 10.1821L81.3911 8.46327L83.0444 9.36362L78.3954 11.2298L79.4267 16.239L77.6914 15.2896Z"
                fill="white"></path>
            <path
                d="M90.0833 16.0425L88.8064 17.5158L90.7872 19.2183L89.9851 20.1514L88.0043 18.4489L86.6619 20.0041L88.9046 21.9194L88.0698 22.9179L84.6484 19.9877L89.7231 14.0781L93.1445 17.0084L92.326 17.9742L90.0833 16.0425Z"
                fill="white"></path>
            <path
                d="M96.7794 33.1002L95.8463 31.8561L97.9908 25.8319L93.7182 29.0241L92.7852 27.78L99.0058 23.1145L99.9388 24.3586L97.778 30.3828L102.051 27.1743L102.984 28.4184L96.7794 33.1002Z"
                fill="white"></path>
        </svg>
        {{/if}}
    </div>
    <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M16.0871 12.1045C16.6064 11.5852 16.6064 10.7432 16.0871 10.2239C15.5678 9.7046 14.7258 9.7046 14.2065 10.2239L9.82763 14.6027L9.82763 1.85567C9.82763 1.12125 9.23228 0.525879 8.49784 0.525879C7.7634 0.525879 7.16805 1.12124 7.16805 1.85567L7.16805 14.6027L2.78919 10.2239C2.26991 9.7046 1.42789 9.7046 0.90861 10.2239C0.389328 10.7432 0.389328 11.5852 0.90861 12.1045L7.55755 18.7534C8.07683 19.2727 8.91885 19.2727 9.43813 18.7534L16.0871 12.1045Z"
            fill="url(#paint0_linear_10887_7809612{{id}})"></path>
        <defs>
            <linearGradient id="paint0_linear_10887_7809612{{id}}" x1="16.4766" y1="0.525879" x2="16.8373" y2="18.6376"
                gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#229AFA"></stop>
                <stop offset="1" stop-color="#1168F8"></stop>
            </linearGradient>
        </defs>
    </svg>
</div>