<span>Share this article:</span>
<div class="share-links">
    <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{serverUrl}}blog-article{{htmlPrefix}}" target="_blank">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#3B5999" />
                <circle cx="17" cy="17" r="17" fill="#4E71BB" />
                <path
                    d="M19.6987 9.00312L17.7799 9C15.6242 9 14.231 10.4489 14.231 12.6915V14.3936H12.3017C12.135 14.3936 12 14.5306 12 14.6996V17.1656C12 17.3346 12.1352 17.4715 12.3017 17.4715H14.231V23.6941C14.231 23.8631 14.366 24 14.5327 24H17.0499C17.2166 24 17.3517 23.863 17.3517 23.6941V17.4715H19.6075C19.7742 17.4715 19.9092 17.3346 19.9092 17.1656L19.9101 14.6996C19.9101 14.6184 19.8782 14.5407 19.8217 14.4833C19.7652 14.4259 19.6883 14.3936 19.6082 14.3936H17.3517V12.9507C17.3517 12.2572 17.5147 11.9052 18.4058 11.9052L19.6984 11.9047C19.865 11.9047 20 11.7677 20 11.5989V9.30898C20 9.14029 19.8651 9.00343 19.6987 9.00312Z"
                    fill="white" />
            </svg>
        </a>
        <div class="tooltip">Share on Facebook</div>
    </div>
    <div>
        <a href="https://twitter.com/intent/tweet?url={{serverUrl}}blog-article{{htmlPrefix}}"
            target="_blank">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#40B3E0" />
                <circle cx="17" cy="17" r="17" fill="#6AC4E7" />
                <path
                    d="M24.9335 12.808C24.3913 13.0583 23.8094 13.2281 23.1981 13.3038C23.8223 12.9145 24.3001 12.2968 24.5266 11.5632C23.941 11.9238 23.2947 12.1856 22.6061 12.3275C22.0546 11.7147 21.2702 11.333 20.4002 11.333C18.731 11.333 17.3776 12.7428 17.3776 14.4806C17.3776 14.7271 17.4043 14.9678 17.4559 15.198C14.9443 15.0666 12.7173 13.8131 11.2267 11.9084C10.9662 12.3726 10.8179 12.9135 10.8179 13.4909C10.8179 14.5832 11.3519 15.5471 12.1621 16.111C11.6668 16.0937 11.2009 15.9518 10.7931 15.7158V15.7552C10.7931 17.28 11.8353 18.5527 13.2172 18.8423C12.964 18.9133 12.697 18.9526 12.4208 18.9526C12.2256 18.9526 12.0369 18.9325 11.8518 18.8941C12.2367 20.1457 13.3525 21.0558 14.6746 21.0808C13.6407 21.9247 12.337 22.4263 10.9211 22.4263C10.6771 22.4263 10.4368 22.411 10.2002 22.3832C11.5379 23.278 13.1261 23.7997 14.833 23.7997C20.3928 23.7997 23.432 19.0025 23.432 14.8422L23.4218 14.4346C24.0156 13.9934 24.5293 13.4391 24.9335 12.808Z"
                    fill="white" />
            </svg>
        </a>
        <div class="tooltip">Tweet</div>
    </div>
    <div>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{serverUrl}}blog-article{{htmlPrefix}}"
            target="_blank">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#0A66C2" />
                <circle cx="17" cy="17" r="17" fill="#0C80F3" />
                <path
                    d="M23.8002 17.8435V22.6669H20.8853V18.1665C20.8853 17.036 20.4637 16.2645 19.4086 16.2645C18.6031 16.2645 18.1238 16.7844 17.9129 17.2874C17.836 17.4672 17.8162 17.7175 17.8162 17.9692V22.6669H14.9003C14.9003 22.6669 14.9396 15.0448 14.9003 14.2551H17.816V15.4474C17.81 15.4563 17.8024 15.466 17.7968 15.4746H17.816V15.4474C18.2033 14.8751 18.8951 14.0575 20.4436 14.0575C22.362 14.0574 23.8002 15.2597 23.8002 17.8435ZM11.8502 10.2002C10.8527 10.2002 10.2002 10.8279 10.2002 11.6533C10.2002 12.4607 10.8338 13.1074 11.8115 13.1074H11.831C12.8478 13.1074 13.4802 12.4608 13.4802 11.6533C13.461 10.8279 12.8478 10.2002 11.8502 10.2002ZM10.3734 22.6669H13.2882V14.2551H10.3734V22.6669Z"
                    fill="white" />
            </svg>
        </a>
        <div class="tooltip">Share on LinkedIn</div>
    </div>
    <div>
        <a href="javascript:void(0);" class="link-for-copy">
            <div>
                {{serverUrl}}blog-article{{htmlPrefix}}
            </div>
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#1B84F9" />
                <circle cx="17" cy="17" r="17" fill="#4C9EFA" />
                <path
                    d="M15 10C12.7909 10 11 11.8435 11 14.1176V20.7059C11 21.1607 11.3582 21.5294 11.8 21.5294C12.2418 21.5294 12.6 21.1607 12.6 20.7059V14.1176C12.6 12.7532 13.6745 11.6471 15 11.6471H19.8C20.2418 11.6471 20.6 11.2784 20.6 10.8235C20.6 10.3687 20.2418 10 19.8 10H15Z"
                    fill="white" />
                <path
                    d="M16.4 13.0294C15.0745 13.0294 14 14.1355 14 15.5V22.0882C14 23.4527 15.0745 24.5588 16.4 24.5588H21.2C22.5255 24.5588 23.6 23.4527 23.6 22.0882V15.5C23.6 14.1355 22.5255 13.0294 21.2 13.0294H16.4Z"
                    fill="white" />
            </svg>
        </a>
        <div class="tooltip copylink"><span>Link</span><span>&#x2705;</span></div>
    </div>
</div>