<div class="b-seo-main">
    <div class="container">
        <div class="box">
            <div class="left">
                <h1>Umami View: Die Alles-aus-einer-Hand Software für Augenoptiker</h1>
                <p>Mit nur einer Software alle Bereiche Ihrer Optiker IT abdecken: Die <a href="/">Apps für Augenoptiker</a> von Umami View machen dies möglich. Von der Kundenbetreuung über die Anpassung der Gläser bis hin zu Marketing und Banking verbindet die Augenoptiker Software von Umami View alle Funktionen in einer übersichtlichen, cloud-basierten Anwendung. </p>
                <p>Für Sie als Augenoptiker hat das vor allem einen entscheidenden Vorteil: Sie verbringen weniger Zeit am Computer und können dadurch mehr Umsatz mit Kunden generieren! Klingt gut? Dann erfahren Sie jetzt, wie unsere Augenoptiker Software auch Ihren Arbeitsalltag erleichtern wird. So einfach kann IT sein!</p>
            </div>
            <div class="right" id="scene1">
                <img class="lazyImportant main-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/seo/main-img.png" data-webp="./img/seo/main-img.webp" alt="logo" />
                <img class="lazy lights" data-src="./img/seo/lights.svg" alt="img"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                <div class="ill-ic-1" data-depth="0.1">
                    <img class="lazyWebp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/seo/ill-ic-1.png" data-webp="./img/seo/ill-ic-1.webp" alt="logo" />
                </div>
                <div class="ill-ic-2" data-depth="0.1">
                    <img class="lazyWebp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/seo/ill-ic-2.png" data-webp="./img/seo/ill-ic-2.webp" alt="logo" />
                </div>
                <div class="ill-ic-3" data-depth="0.1">
                    <img class="lazyWebp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/seo/ill-ic-3.png" data-webp="./img/seo/ill-ic-3.webp" alt="logo" />
                </div>
                <div class="circle-1" data-depth="0.2">
                    <img class="lazy" data-src="./img/seo/circle-1.svg" alt="img"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </div>
                <div class="circle-2" data-depth="0.2">
                    <img class="lazy" data-src="./img/seo/circle-2.svg" alt="img"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </div>
                <div class="circle-3" data-depth="0.2">
                    <img class="lazy" data-src="./img/seo/circle-3.svg" alt="img"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </div>
                <div class="circle-4" data-depth="0.2">
                    <img class="lazy" data-src="./img/seo/circle-4.svg" alt="img"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-for-btn-go-down">
    <div class="btn-go-down">
        <div>
            <svg width="103" height="34" viewBox="0 0 103 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.98077 23.049L3.4377 24.3422L5.17292 22.3778L6.10601 23.1963L4.37079 25.1607L5.90957 26.5194L7.8576 24.3095L8.80706 25.1443L5.81135 28.5165L0 23.3764L2.97934 20.0042L3.9288 20.839L1.98077 23.049Z" fill="white"/>
                <path d="M19.1365 16.6154L17.8761 17.5322L11.8846 15.2895L15.0113 19.6111L13.7508 20.5279L9.18359 14.2254L10.4441 13.3087L16.4355 15.5514L13.3088 11.2297L14.5693 10.313L19.1365 16.6154Z" fill="white"/>
                <path d="M26.9611 4.07617L27.4522 5.23844L25.5532 6.05694L28.1233 12.0484L26.6828 12.654L24.1127 6.66263L22.2138 7.48113L21.7227 6.31886L26.9611 4.07617Z" fill="white"/>
                <path d="M39.7291 1.26054C40.4002 1.45698 40.9568 1.81712 41.3824 2.34096C41.8081 2.8648 42.1027 3.50323 42.2501 4.27261C42.3974 5.042 42.3483 5.74591 42.1191 6.36797C41.8899 7.0064 41.497 7.53024 40.9568 7.95586C40.4002 8.38148 39.7291 8.65977 38.9269 8.8071L36.2586 9.2982L34.8672 1.65342L37.5355 1.16232C38.3213 1.03136 39.0579 1.0641 39.7291 1.26054ZM40.3675 6.53167C40.7276 6.00783 40.8259 5.35303 40.6949 4.56727C40.5476 3.76515 40.2202 3.1922 39.6963 2.81569C39.1725 2.45555 38.5177 2.34096 37.7156 2.48829L36.6351 2.68473L37.5519 7.72668L38.6323 7.53024C39.418 7.38291 40.0074 7.05551 40.3675 6.53167Z" fill="white"/>
                <path d="M51.3054 1.32597L51.2235 3.274L53.8427 3.37222L53.7936 4.59997L51.1744 4.50175L51.0925 6.56437L54.0391 6.67896L53.99 7.93945L49.4883 7.77575L49.7829 0L54.2847 0.1637L54.2356 1.44056L51.3054 1.32597Z" fill="white"/>
                <path d="M62.3363 3.07762C62.8274 2.58652 63.4003 2.24275 64.0715 2.07905C64.7426 1.89898 65.4302 1.91535 66.1505 2.09542C66.9853 2.3246 67.6729 2.71748 68.1803 3.32317C68.7042 3.91249 68.9825 4.63277 69.0316 5.45127L67.2964 4.99291C67.2145 4.58366 67.0508 4.25626 66.7889 3.99434C66.527 3.73242 66.1832 3.55235 65.774 3.43776C65.332 3.32317 64.9227 3.32317 64.5298 3.43776C64.137 3.55235 63.7932 3.76516 63.4985 4.09256C63.2039 4.41996 63.0074 4.82921 62.8601 5.33668C62.7291 5.82778 62.7128 6.28614 62.7946 6.71176C62.8928 7.13738 63.0729 7.49752 63.3676 7.79218C63.6459 8.08684 64.0224 8.29965 64.448 8.41424C64.8572 8.52883 65.2501 8.52883 65.6103 8.43061C65.9704 8.33239 66.2814 8.11958 66.5597 7.80855L68.2949 8.26691C67.8366 8.97082 67.2473 9.44555 66.5106 9.70747C65.774 9.96939 64.9718 9.98576 64.1206 9.75658C63.4003 9.56014 62.7946 9.23274 62.3035 8.75801C61.8124 8.28328 61.485 7.71033 61.3049 7.03916C61.1249 6.36799 61.1249 5.66408 61.3213 4.92743C61.5014 4.20715 61.8452 3.58509 62.3363 3.07762Z" fill="white"/>
                <path d="M77.6914 15.2896L76.8566 10.9024L75.2032 13.9472L73.8281 13.2106L77.5277 6.38428L78.9028 7.12093L77.2495 10.1821L81.3911 8.46327L83.0444 9.36362L78.3954 11.2298L79.4267 16.239L77.6914 15.2896Z" fill="white"/>
                <path d="M90.0833 16.0425L88.8064 17.5158L90.7872 19.2183L89.9851 20.1514L88.0043 18.4489L86.6619 20.0041L88.9046 21.9194L88.0698 22.9179L84.6484 19.9877L89.7231 14.0781L93.1445 17.0084L92.326 17.9742L90.0833 16.0425Z" fill="white"/>
                <path d="M96.7794 33.1002L95.8463 31.8561L97.9908 25.8319L93.7182 29.0241L92.7852 27.78L99.0058 23.1145L99.9388 24.3586L97.778 30.3828L102.051 27.1743L102.984 28.4184L96.7794 33.1002Z" fill="white"/>
            </svg>
        </div>
        <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.0871 12.1045C16.6064 11.5852 16.6064 10.7432 16.0871 10.2239C15.5678 9.7046 14.7258 9.7046 14.2065 10.2239L9.82763 14.6027L9.82763 1.85567C9.82763 1.12125 9.23228 0.525879 8.49784 0.525879C7.7634 0.525879 7.16805 1.12124 7.16805 1.85567L7.16805 14.6027L2.78919 10.2239C2.26991 9.7046 1.42789 9.7046 0.90861 10.2239C0.389328 10.7432 0.389328 11.5852 0.90861 12.1045L7.55755 18.7534C8.07683 19.2727 8.91885 19.2727 9.43813 18.7534L16.0871 12.1045Z" fill="url(#paint0_linear_10887_78096)"/>
            <defs>
            <linearGradient id="paint0_linear_10887_78096" x1="16.4766" y1="0.525879" x2="16.8373" y2="18.6376" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#229AFA"/>
            <stop offset="1" stop-color="#1168F8"/>
            </linearGradient>
            </defs>
        </svg>
    </div>
</div>

<div class="b-infographic seo-h">
    <div class="container">
        <h2 data-aos="fade-up" data-aos-anchor-placement="top-bottom">Die Vorteile unser Umami Ware: Eine Software für alle Anforderungen</h2>
        <p data-aos="fade-up" data-aos-delay="50" data-aos-anchor-placement="top-bottom">Was die Augenoptiker Software von Umami View so einzigartig macht? Mit unseren Apps lösen wir das Programm-Chaos in Ihrer IT. Statt vielen kleinen Anwendungen von unterschiedlichen Herstellern bieten wir Ihnen eine App- und cloud-basierte Lösung, die einfach, schnell und übersichtlich zu bedienen ist. Sehen wir uns die Vorteile mal etwas genauer an:</p>
        <div class="box" data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="b-infographic-circle-1 bg-circle"></div>
            <div class="b-infographic-circle-2 bg-circle"></div>
            <div class="img">
                <!--<img class="lazy desk" data-src="./img/seo/infographic-img.svg" alt="flow"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                <img class="lazy tablet" data-src="./img/seo/infographic-img-tablet.svg" alt="flow"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                <img class="lazy mobile" data-src="./img/seo/infographic-img-mobile.svg" alt="flow"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />-->
                <img class="lazyWebp desk" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/seo/infographic-img.png" data-webp="./img/seo/infographic-img.webp" alt="flow"/>
                <img class="lazyWebp tablet" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/seo/infographic-img-tablet.png" data-webp="./img/seo/infographic-img-tablet.webp" alt="flow"/>
                <img class="lazyWebp mobile" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/seo/infographic-img-mobile.png" data-webp="./img/seo/infographic-img-mobile.webp" alt="flow"/>
            </div>
        </div>
    </div>
</div>

<div class="b-advantages seo-h">
    <div class="custom_gradient active" data-name="colors"></div>
    <div class="custom_gradient" data-name="logos"></div>
    <div class="custom_gradient" data-name="content"></div>
    <div class="nav-box">
        <div class="nav-dots">
            <ul>
                <li><a href="#go1" data-id="go1"></a></li>
                <li><a href="#go2" data-id="go2"></a></li>
                <li><a href="#go3" data-id="go3"></a></li>
                <li><a href="#go4" data-id="go4"></a></li>
            </ul>
        </div>
    </div>
    <div class="b-advantages-inn b-advantages-1" id="go1">
        <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="box">
                <div class="left">
                    <div class="img">
                        <img class="lazyImportant" src="data:image/gif;base64,R0lGODlhAgHHAIAAAP///wAAACH5BAEAAAEALAAAAAACAccAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8YxjRw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoTILAAA7"
                            data-src="./img/seo/advant-big-1.png" data-webp="./img/seo/advant-big-1.webp" alt="logo" />
                    </div>
                    <div class="img-small" id="scene2">
                        <img class="lazyWebp advant-small-1-1" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/seo/advant-small-1-1.png" data-webp="./img/seo/advant-small-1-1.webp" alt="logo" data-depth="0.1" />
                        <img class="lazyWebp advant-small-1-2" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/seo/advant-small-1-2.png" data-webp="./img/seo/advant-small-1-2.webp" alt="logo" data-depth="0.1" />
                    </div>
                </div>
                <div class="right">
                    <h3>Eine Augenoptiker Software für alle Anwendungen</h3>
                    <p>Mit den <a href="/">Apps von Umami View</a> decken Sie Prozesse Ihres Augenoptiker-Betriebs in einer vernetzten übersichtlichen Software ab. Ob Kundenmanagement, Beratungsgespräche, Einmessung, Mitarbeiterplanung oder Banking und Buchhaltung: Unser App-Paket liefert bis zu 17 Funktionen, für die Sie bislang oft teure und schwerfällige Einzellösungen benötigten, in einem flexiblen Gesamtpaket.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-advantages-inn b-advantages-2" id="go2">
        <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="box">
                <div class="left">
                    <div class="img">
                        <img class="lazyImportant" src="data:image/gif;base64,R0lGODlhAgHHAIAAAP///wAAACH5BAEAAAEALAAAAAACAccAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8YxjRw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoTILAAA7"
                            data-src="./img/seo/advant-big-2.png" data-webp="./img/seo/advant-big-2.webp" alt="logo" />
                    </div>
                    <div class="img-small" id="scene3">
                        <img class="lazyWebp advant-small-2-1" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/seo/advant-small-2-1.png" data-webp="./img/seo/advant-small-2-1.webp" alt="logo" data-depth="0.1" />
                    </div>
                </div>
                <div class="right">
                    <h3>Die Augenoptiker Software ist immer und überall verfügbar</h3>
                    <p>Umami View ist eine komplett Cloud-basierte Softwarelösung. Das bedeutet: Eure Daten und Apps sind rund um die Uhr und auf vielen Endgeräten verfügbar. Ihr müsst nicht mehr in eine eigene, teure Serverhardware investieren, die störungsanfällig und wartungsintensiv ist. Wir halten Umami View immer auf dem neuesten Stand und garantieren mit regelmäßigen Updates perfekte Funktionalität und die Sicherheit eurer Kundendaten!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-advantages-inn b-advantages-3" id="go3">
        <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="box">
                <div class="left">
                    <div class="img">
                        <img class="lazyImportant" src="data:image/gif;base64,R0lGODlhAgHHAIAAAP///wAAACH5BAEAAAEALAAAAAACAccAAAL+jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8YxjRw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoTILAAA7"
                            data-src="./img/seo/advant-big-3.png" data-webp="./img/seo/advant-big-3.webp" alt="logo" />
                    </div>
                </div>
                <div class="right">
                    <h3>Die Augenoptiker Software, die mit euch mitwächst</h3>
                    <p>Sie benötigen nicht alle Funktionen von Umami View oder wollen später weitere Apps dazu buchen? Mit unseren flexiblen Paketen sorgen wir dafür, dass Sie nur für die Funktionen bezahlen, die Sie in Ihrem Augenoptiker-Betrieb auch wirklich benötigen. Außerdem wächst Umami View immer weiter: Mit regelmäßigen Updates erweitern wir den Funktionsumfang und erleichtern Ihren Alltag Schritt für Schritt immer weiter.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-advantages-inn b-advantages-4" id="go4">
        <section class="customizable first">
            <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="customizable__info mobile">
                    <h3>Die Augenoptiker Software, die zu Ihrer Marke passt</h3>
                    <p>Fühlt sich gut an und sieht auch so aus: Damit Sie sich bei Umami View wie zu Hause fühlen, lässt sich das Design der Software in wenigen Mausklicks an Ihr CI anpassen. Wählen Sie dafür Ihre Markenfarbe, laden Sie Ihr Logo hoch und machen Sie Umami View zu einem festen Bestandteil in der Kommunikation mit Neu- und Bestandskunden.</p>
                </div>
                <div class="customizable__tabs">
                    <div class="active" data-background="#095FEC" data-name="colors">
                        <p id="customizable__title--tab1">Colors</p>
                        <span id="customizable__title" class="upper-line">Customizable</span><span class="line-nav"></span>
                    </div>
                    <div class="second" data-background="#9847FF" data-name="logos">
                        <p id="customizable__title--tab2">Logos</p>
                    </div>
                    <div class="last" data-background="#095FEC" data-name="content">
                        <p id="customizable__title--tab3">Infos</p>
                    </div>
                </div>
                <div class="customizable__list">
                    <div class="customizable__item active">
                        <div class="customizable__row">
                            <div class="customizable__colors custBtn" data-press="Press me" data-pressed="Clicked" id="scene5">
                                <div class="box-for-btn-black" data-depth="0.1">
                                    <div class="customizable__color customizable__color--black" data-background="#313134">Press me</div>
                                </div>
                                <div class="box-for-btn-yellow" data-depth="0.1">
                                    <div class="customizable__color customizable__color--yellow" data-background="#FDBB13">Press me</div>
                                </div>
                                <div class="box-for-btn-orange" data-depth="0.1">
                                    <div class="customizable__color customizable__color--orange" data-background="#FF7648">Press me</div>
                                </div>
                                <div class="box-for-btn-green" data-depth="0.1">
                                    <div class="customizable__color customizable__color--green" data-background="#4AC59B">Press me</div>
                                </div>
                            </div>
                            <div class="customizable__photo">
                                <img class="lazyImportant" id="customizable__color__1" alt="customizable image"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/seo/seo-vision-profile-blue.png"
                                    data-webp="./img/seo/seo-vision-profile-blue.webp" width="335" height="221" />
                                <img class="lazyImportant" id="customizable__color__2" alt="customizable image"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/seo/seo-vision-profile-grey.png"
                                    data-webp="./img/seo/seo-vision-profile-grey.webp" width="335" height="221" />
                                <img class="lazyImportant" id="customizable__color__3" alt="customizable image"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/seo/seo-vision-profile-yellow.png"
                                    data-webp="./img/seo/seo-vision-profile-yellow.webp" width="335" height="221" />
                                <img class="lazyImportant" id="customizable__color__4" alt="customizable image"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/seo/seo-vision-profile-orange.png"
                                    data-webp="./img/seo/seo-vision-profile-orange.webp" width="335" height="221" />
                                <img class="lazyImportant" id="customizable__color__5" alt="customizable image"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/seo/seo-vision-profile-green.png"
                                    data-webp="./img/seo/seo-vision-profile-green.webp" width="335" height="221" />
                                <div class="customizable__photo-small" id="scene4">
                                    <img class="lazyImportant" id="customizable-small__color__1" alt="customizable image"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="./img/seo/seo-vision-profile-small-blue.png"
                                        data-webp="./img/seo/seo-vision-profile-small-blue.webp" width="347" height="269" data-depth="0.1" />
                                    <img class="lazyImportant" id="customizable-small__color__2" alt="customizable image"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="./img/seo/seo-vision-profile-small-grey.png"
                                        data-webp="./img/seo/seo-vision-profile-small-grey.webp" width="347" height="269" data-depth="0.1" />
                                    <img class="lazyImportant" id="customizable-small__color__3" alt="customizable image"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="./img/seo/seo-vision-profile-small-yellow.png"
                                        data-webp="./img/seo/seo-vision-profile-small-yellow.webp" width="347" height="269" data-depth="0.1" />
                                    <img class="lazyImportant" id="customizable-small__color__4" alt="customizable image"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="./img/seo/seo-vision-profile-small-orange.png"
                                        data-webp="./img/seo/seo-vision-profile-small-orange.webp" width="347" height="269" data-depth="0.1" />
                                    <img class="lazyImportant" id="customizable-small__color__5" alt="customizable image"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="./img/seo/seo-vision-profile-small-green.png"
                                        data-webp="./img/seo/seo-vision-profile-small-green.webp" width="347" height="269" data-depth="0.1" />
                                </div>
                            </div>
                            <div class="customizable__info">
                                <h3 id="customizable__subtitle--tab1">Die Augenoptiker Software, die zu Ihrer Marke passt</h3>
                                <p id="customizable__text--tab1">Fühlt sich gut an und sieht auch so aus: Damit Sie sich bei Umami View wie zu Hause fühlen, lässt sich das Design der Software in wenigen Mausklicks an Ihr CI anpassen. Wählen Sie dafür Ihre Markenfarbe, laden Sie Ihr Logo hoch und machen Sie Umami View zu einem festen Bestandteil in der Kommunikation mit Neu- und Bestandskunden.</p>
                            </div>
                        </div>
                    </div>
                    <div class="customizable__item">
                        <div class="customizable__row">
                            <div class="customizable__photo">
                                <img id="customizable__logo__standart" class="image-SVG--bg lazyImportant" alt="customizable"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/seo/seo-glasses-custom.png"
                                    data-webp="./img/seo/seo-glasses-custom.webp" />
                                <img id="customizable__logo__1"
                                    class="svg-click customizable__image lazyImportant active optivision" alt="customizable"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-optivision.svg" />
                                <img id="customizable__logo__2" class="svg-click customizable__image lazyImportant glaslandia"
                                    alt="customizable"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-glaslandia.svg" />
                                <img id="customizable__logo__3" class="svg-click customizable__image lazyImportant lenz"
                                    alt="customizable"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-lenz.svg" />
                                <img id="customizable__logo__4" class="svg-click customizable__image lazyImportant optican"
                                    alt="customizable"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-optician.svg" />
                                <div class="customizable__photo-small2" id="scene6">
                                    <img class="lazyImportant" id="customizable-small2__color__1" alt="customizable image"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="./img/seo/seo-glasses-custom-small.png"
                                        data-webp="./img/seo/seo-glasses-custom-small.webp" width="355" height="201" data-depth="0.1" />
                                </div>
                            </div>
                            <div class="customizable__info">
                                <h3 id="customizable__subtitle--tab2">Die Augenoptiker Software, die zu Ihrer Marke passt</h3>
                                <p id="customizable__text--tab2">Fühlt sich gut an und sieht auch so aus: Damit Sie sich bei Umami View wie zu Hause fühlen, lässt sich das Design der Software in wenigen Mausklicks an Ihr CI anpassen. Wählen Sie dafür Ihre Markenfarbe, laden Sie Ihr Logo hoch und machen Sie Umami View zu einem festen Bestandteil in der Kommunikation mit Neu- und Bestandskunden.</p>
                            </div>
                            <div class="customizable__circles" id="scene7">
                                <div class="box-for-circle-one" data-depth="0.1">
                                    <div class="customizable__circle customizable__circle--one">
                                        <img alt="customizable" class="lazyImportant"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-src="./img/customizable-sec/logo-optivision.svg" />
                                        <div class="checkmark active">
                                            <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                                <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-for-circle-second" data-depth="0.1">
                                    <div class="customizable__circle customizable__circle--second">
                                        <img alt="customizable" class="lazyImportant"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-src="./img/customizable-sec/logo-glaslandia.svg" />
                                        <div class="checkmark">
                                            <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                                <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-for-circle-three" data-depth="0.1">
                                    <div class="customizable__circle customizable__circle--three">
                                        <img alt="customizable" class="lazyImportant"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-src="./img/customizable-sec/logo-lenz.svg" />
                                        <div class="checkmark">
                                            <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                                <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-for-circle-four" data-depth="0.1">
                                    <div class="customizable__circle customizable__circle--four">
                                        <img alt="customizable" class="lazyImportant"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-src="./img/customizable-sec/logo-optician.svg" />
                                        <div class="checkmark">
                                            <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                                <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customizable__item">
                        <div class="customizable__row">
                            <div class="customizable__photo">
                                <img id="customizable__content" class="lazyImportant" alt="customizable"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/seo/seo-content.png"
                                    data-webp="./img/seo/seo-content.webp" />
                                <div class="customizable__photo-small3" id="scene8">
                                    <img class="lazyImportant" id="customizable-small3__color__1" alt="customizable image"
                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="./img/seo/seo-content-small.png"
                                        data-webp="./img/seo/seo-content-small.webp" width="368" height="251" data-depth="0.1" />
                                </div>
                            </div>
                            <div class="customizable__info">
                                <h3 id="customizable__subtitle--tab3">Die Augenoptiker Software, die zu Ihrer Marke passt</h3>
                                <p id="customizable__text--tab3">Fühlt sich gut an und sieht auch so aus: Damit Sie sich bei Umami View wie zu Hause fühlen, lässt sich das Design der Software in wenigen Mausklicks an Ihr CI anpassen. Wählen Sie dafür Ihre Markenfarbe, laden Sie Ihr Logo hoch und machen Sie Umami View zu einem festen Bestandteil in der Kommunikation mit Neu- und Bestandskunden.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="b-work-testing seo-h">
    <div class="work-testing">
        <div class="work-testing-circle"></div>
        <div class="container">
            <div class="box">
                <div class="left" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <h2>Umami View funktioniert. Wir haben die Augenoptiker Software getestet!</h2>
                    <p>Grau ist alle Theorie. Deshalb haben wir Umami View im Augenoptiker-Einsatz getestet. Aktuell nutzen schon über 15 Unternehmen Umami View als Augenoptiker Software – und die Zahlen sprechen für sich. Im Schnitt können mit Umami View bis zu 4 Stunden Rechnerzeit für jeden Mitarbeiter eingespart werden. Pro Woche! Das ist Zeit, die Sie für neue Kunden und damit höhere Umsätze gewinnen, während andere Augenoptiker noch Programme wechseln und sich über lange Ladezeiten ärgern.</p>
                </div>
                <div class="right" data-aos="fade-up" data-aos-delay="50" data-aos-anchor-placement="top-bottom">
                    <img class="lazy work-testing-circle-1" alt="solutions"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/seo/work-testing-circle-1.svg"/>
                    <img class="lazy work-testing-circle-2" alt="solutions"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/seo/work-testing-circle-2.svg"/>
                    <img class="lazy work-testing-circle-3" alt="solutions"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/seo/work-testing-circle-3.svg"/>
                    <div class="items">
                        <div class="item">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.335938" y="0.333496" width="41.3333" height="41.3333" rx="20.6667" fill="#818DFF" fill-opacity="0.1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.3667 15.2951C29.7649 15.6885 29.7649 16.3262 29.3667 16.7195L18.9595 27.0001L12.6307 20.7483C12.2325 20.355 12.2325 19.7173 12.6307 19.3239C13.0288 18.9306 13.6744 18.9306 14.0726 19.3239L18.9595 24.1513L27.9248 15.2951C28.323 14.9018 28.9685 14.9018 29.3667 15.2951Z" fill="#6674FF"/>
                            </svg>
                            <span>15+ opticians alreday trust in OptiCore</span>
                        </div>
                        <div class="item">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.335938" y="0.333496" width="41.3333" height="41.3333" rx="20.6667" fill="#818DFF" fill-opacity="0.1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.3667 15.2951C29.7649 15.6885 29.7649 16.3262 29.3667 16.7195L18.9595 27.0001L12.6307 20.7483C12.2325 20.355 12.2325 19.7173 12.6307 19.3239C13.0288 18.9306 13.6744 18.9306 14.0726 19.3239L18.9595 24.1513L27.9248 15.2951C28.323 14.9018 28.9685 14.9018 29.3667 15.2951Z" fill="#6674FF"/>
                            </svg>
                            <span>4 hours saved per employee per week</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partners">
        <div class="partners-circle"></div>
        <div class="partners_slider" data-aos="fade-up" data-aos-delay="150" data-aos-anchor-placement="top-bottom">
            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="partners__item">
                            <div>
                                <img data-src="./img/partners/Logo-01.png" data-webp="./img/partners/Logo-01.webp"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy webp" alt="slide" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__item">
                            <div>
                                <img data-src="./img/partners/Logo-02.png" data-webp="./img/partners/Logo-02.webp"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy webp" alt="slide" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__item">
                            <div>
                                <img data-src="./img/partners/Logo-03.png" data-webp="./img/partners/Logo-03.webp"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy webp" alt="slide" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__item">
                            <div>
                                <img data-src="./img/partners/Logo-04.png" data-webp="./img/partners/Logo-04.webp"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy webp" alt="slide" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__item">
                            <div>
                                <img data-src="./img/partners/Logo-05.png" data-webp="./img/partners/Logo-05.webp"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy webp" alt="slide" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__item">
                            <div>
                                <img data-src="./img/partners/Logo-06.png" data-webp="./img/partners/Logo-06.webp"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy webp" alt="slide" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__item">
                            <div>
                                <img data-src="./img/partners/Logo-07.png" data-webp="./img/partners/Logo-07.webp"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="swiper-lazy webp" alt="slide" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination partners__dots"></div>
            </div>
        </div>
    </div>

    <div class="integration-block">
        <div class="integration-block-circle"></div>
        <div class="container">
            <div class="box">
                <div class="left" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <h2>Voll integriert: Umami View passt perfekt in Ihren Arbeitsalltag</h2>
                    <p>Vom Kalender über das Screening, vom Einkauf bis zur Zahlung: Umami View arbeitet mit den wichtigsten Dienstleistern, Unternehmen und Apps zusammen, die Sie in Ihrem Arbeitsalltag benötigen. Durch Schnittstellen zu Zeiss, optoVision, sevDesk, SumUp oder Google Analytics sind Sie immer mit den wichtigsten Partnern vernetzt. </p>
                </div>
                <div class="right" data-aos="fade-up" data-aos-delay="50" data-aos-anchor-placement="top-bottom">
                    <img alt="customizable" class="lazyWebp"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/seo/integration-img.png" data-webp="./img/seo/integration-img.webp" />
                </div>
            </div>
        </div>
    </div>

</div>


<div class="ourApp seo-h" id="our-app">
  <div class="container">
    <div class="block_title_row">
      <h3 data-aos="fade-up" data-aos-delay="50" data-aos-anchor-placement="top-bottom">Sehen Sie selbst, welche Anwendungen schon heute in unserer Augenoptiker Software integriert sind:</h3>
    </div>
    <div class="slidersWrap" data-aos="fade-up" data-aos-delay="150" data-aos-anchor-placement="top-bottom">
      <div class="swiper" id="ourAppTabSlider">
        <div class="hideLine left"></div>
        <div class="hideLine right"></div>
        <div class="swiper-wrapper">
          {{#each ourApps}}
          <div class="swiper-slide">
            <div class="ourAppSliderTab noTap">
              <img data-src="{{this.icon}}"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="icon"
                class="lazyImportant" />
              <span>{{this.name}}</span>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="ourAppSliderWrap">
        <div class="swiper swiper-container" id="ourAppSlider">
          <div class="swiper-wrapper">
            {{#each ourApps}}
            <div class="swiper-slide">
              <div class="img">
                <img data-src="{{this.image}}.png" data-webp="{{this.image}}.webp" 
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  class="swiper-lazy webp" alt="icon" />
              </div>
              <div class="content">
                <h5>{{this.name}}</h5>
                <p>{{this.text}}</p>
              </div>
            </div>
            {{/each}}
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="navigation swiper-button-prev noTap"></div>
        <div class="navigation swiper-button-next noTap"></div>
      </div>
    </div>
  </div>
</div>

<div class="b-seo-cta seo-h">
    <div class="container">
        <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <h2>Umami View: Jetzt Augenoptiker Software testen</h2>
            <p>Wir sind überzeugt von den Leistungen unserer <a href="/">Apps für Augenoptiker</a> und möchten Sie von Umami View begeistern! Deshalb bieten wir euch eine umfangreiche Demo, mit der Sie die Funktionen unserer Software ausführlich testen können. Kontaktieren Sie uns jetzt und vereinbaren Sie einen persönlichen Beratungstermin!</p>
            <a href="javascript:void(0);" class="form-btn js-ripple" id="started__link">
                <span>Get in touch</span>
            </a>
        </div>
    </div>
    <div class="cta-ic cta-ic-1">
        <img alt="customizable" class="lazyWebp"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/seo/cta-ic-1.png" data-webp="./img/seo/cta-ic-1.webp" />
    </div>
    <div class="cta-ic cta-ic-2">
        <img alt="customizable" class="lazyWebp"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/seo/cta-ic-2.png" data-webp="./img/seo/cta-ic-2.webp" />
    </div>
    <div class="cta-ic cta-ic-3">
        <img alt="customizable" class="lazyWebp"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/seo/cta-ic-3.png" data-webp="./img/seo/cta-ic-3.webp" />
    </div>

    <img class="lazy cta-circle-1" data-src="./img/seo/cta-circle-1.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <img class="lazy cta-circle-2" data-src="./img/seo/cta-circle-2.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <img class="lazy cta-circle-3" data-src="./img/seo/cta-circle-3.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <img class="lazy cta-circle-4" data-src="./img/seo/cta-circle-4.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <img class="lazy cta-circle-5" data-src="./img/seo/cta-circle-5.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <img class="lazy cta-circle-6" data-src="./img/seo/cta-circle-6.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <img class="lazy cta-circle-7" data-src="./img/seo/cta-circle-7.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <img class="lazy cta-circle-8" data-src="./img/seo/cta-circle-8.svg" alt="img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    
    <img alt="customizable" class="lazyWebp seo-cta-img"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="./img/seo/seo-cta-img.png" data-webp="./img/seo/seo-cta-img.webp" />
    <img alt="customizable" class="lazyWebp seo-cta-img-mobile"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="./img/seo/seo-cta-img-mobile.png" data-webp="./img/seo/seo-cta-img-mobile.webp" />
</div>

